@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #09090b;
  color: #fafafa;
  margin: 0;
  overflow: hidden;
}

.monaco-editor {
  padding-top: 8px;
}
