:root > * {
  --md-primary-fg-color: var(--color-lilac-500);
  --md-primary-fg-color--light: var(--color-lilac-500);
  --md-primary-fg-color--dark: var(--color-lilac-300);
  --md-accent-fg-color: var(--color-lilac-500);
  --md-accent-fg-color-light: var(--color-lilac-500);
  --md-accent-fg-color-dark: var(--color-lilac-200);
  --md-accent-fg-color--transparent: var(--color-lilac-100);

  --md-typeset-a-color: var(--color-lilac-500);

  --md-header: var(--color-lilac-800);
}
