/* Light (default) theme */
[data-md-color-scheme="light"] {
  --md-primary-fg-color: var(--color-lilac-600);
  --md-primary-fg-color--light: var(--color-lilac-600);
  --md-accent-fg-color: var(--color-lilac-500);
  --md-accent-fg-color-light: var(--color-lilac-500);
  --md-accent-fg-color--transparent: var(--color-lilac-100);
  --md-main: var(--color-background);

  --md-typeset-a-color: var(--color-lilac-500);

  --md-default-fg-color: var(--color-lilac-800);

  .md-header {
    background-color: var(--color-lilac-800);
    color: var(--dark-color-text-primary);
    color-scheme: dark;
  }

/* Dark theme */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: var(--color-lilac-300);
  --md-accent-fg-color: var(--color-lilac-200);
  --md-accent-fg-color--transparent: var(--color-lilac-800);

  --md-accent-bg-color: #121212;
  --md-accent-bg-color--light: hsla(0, 0%, 0%, 0.7);

  .md-header {
    background-color: var(--color-lilac-900);
    color: var(--dark-color-text-primary);
  }
}
